@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    background: #D9D9D9;
    color: #284B63;
}

header {
    height: 100vh;
    padding: 20px;
}

#navbar {
    background: #284B63;
}

.container {
    margin: auto;
    max-width: 1300px;
    overflow: auto;
    padding: 0 20px;
}

#navbar .encabezado {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 400;
    float: left;
    padding-top: 10px;
}

#navbar ul {
    list-style: none;
    float: left;
    text-transform: uppercase;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: #D9D9D9;
    border-radius: 30%;
}

#navbar ul li a:hover {
    background: #3C6E71;
}

#navbar .logo-img {
    float: right;
    padding: 20px;
}

/* HOME */

#home {
    padding: 20px;
}

#home .home-img img:hover {
    filter: saturate(200%);
}

#home .home-img img {
    border-radius: 10%;
    box-shadow: 0px 0px 10px 10px #bdb7b2;
}

#home .home-img {
    float: right;
    width: 50%;
    padding: 20px;
}

#home .home-text {
    float: left;
    width: 40%;
}

#home .home-text h1 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 46px;
    padding-top: 50px;
}

/* EL EVENTO */

#elevento .elevento-detalle {
    display: inline-block;
    border-top-style: dashed;
    border-bottom-style: dashed;
    background: cadetblue;
}

#nosotros .elevento-detalle {
    display: inline-block;
    border-top-style: dashed;
    border-bottom-style: dashed;
    /*  background: cadetblue; */
}

#elevento .elevento-texto {
    float: right;
    width: 45%;
    padding: 10px;
    text-align: justify;
    overflow: auto;
}

#nosotros .elevento-texto2 {
    float: left;
    width: 45%;
    padding: 10px;
    text-align: justify;
    overflow: auto;
}

#elevento .elevento-texto p {
    font-style: italic;
}

#elevento .elevento-texto h2 {
    text-align: center;
}

#elevento .elevento-video {
    float: left;
    width: 45%;
    padding: 10px;
    /*  border-right-style: dashed; */
}

#elevento .elevento-video iframe {
    border-radius: 10%;
    box-shadow: 0px 0px 10px 10px #bdb7b2;
}

#nosotros .elevento-img2 {
    float: right;
    width: 45%;
    padding: 10px 40px 10px 10px;
    border-right: 100px;
}

.elevento-img2:hover {
    filter: saturate(200%);
}

.elevento-img2 img {
    border-radius: 10%;
    box-shadow: 0px 0px 10px 10px #bdb7b2;
}

/* Contacto */

#registrate .registrate-form {
    width: 40%;
    padding: 40px;
    float: right;
}

#registrate .registrate-title {
    float: left;
    width: 50%;
    padding-top: 100px;
    text-align: left;
}

#registrate {
    background: cadetblue;
}

form .form-control {
    width: 100%;
    padding: 0.375rem 0.7rem;
    font-size: 1rem;
    line-height: 1;
    border: darkblue;
}

form .form-group {
    margin-bottom: 1rem;
}

/* Boton Form */
.btn {
    display: inline-block;
    font-size: 15px;
    padding: 14px;
    cursor: crosshair;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 10px;
    margin-top: 10px;
}

.btn-light {
    background: #284B63;
    border: 1px solid #284B63;
    color: #fff;
    width: 100%;
}

.btn-light:hover {
    background: #fff;
    border: 2px solid #284B63;
    color: #284B63;
}

/* ****** CLIMA ****** */
#clima h2 {
    text-align: center;
}

#clima .clima-container {
   /*  transform: perspective(75em) rotateX(18deg); */
    box-shadow: rgba(22, 31, 39, 0.42) 0px 60px 123px -25px,
        rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
    border-radius: 10px;
    border: 1px solid;
    border-color: rgb(213, 220, 226) rgb(213, 220, 226) rgb(184, 194, 204);
    text-align: center;
    padding: 20px;
    margin: 0px auto;
    width: 40%;
}

/* FOOTER */

.footer {
    padding: 30px;
    color: #fff;
    text-align: center;
    background: #284B63;
}

.footer img {
    padding-left: 15px;
}

.logo:hover {
    transform: rotateY(360deg);
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    transform: scale(1.3);
}

.logo-img {
    overflow: hidden;
}

.logo {
    border-radius: 50%;
}

.elevento-img:hover {
    filter: saturate(200%);
}