@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    background: #D9D9D9;
    color: #284B63;
}

header {
    height: 100vh;
    padding: 20px;
}

#navbar{
    background: cadetblue;
}

.container {
    margin: auto;
    max-width: 1300px;
    overflow: auto;
    padding: 0 20px;
}

#navbar .encabezado {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 400;
    float: left;
    padding-top: 10px;
}

#navbar ul {
    list-style: none;
    float: left;
    text-transform: uppercase;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
}

#navbar ul li a:hover {
    background: #3C6E71;
}

#navbar .logo-img {
    float: right;
    padding: 20px;
}

/* NOSOTROS */

#nosotros {
    padding: 20px;
}

#nosotros .nosotros-text {
    float: left;
    width: 40%;
}

#nosotros .nosotros-text h1 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 46px;
    padding-top: 50px;
}

#nosotros .nosotros-img {
    float: right;
    width: 50%;
    padding: 20px;
}

/* EL EVENTO */

#elevento .elevento-detalle {
    display: inline-block;
    border-top-style: dashed;
    border-bottom-style: dashed;
    background: cadetblue;
}

#elevento .elevento-texto {
    float: left;
    width: 50%;
    padding: 10px;
    text-align: justify;
    overflow: auto;
    /* height: 100%;
    border-style:double ; */
}

#elevento .elevento-texto p{
    font-style: italic;
}

#elevento .elevento-texto h2 {
    text-align: center;
}

#elevento .elevento-img {
    float: right;
    width: 40%;
    padding: 10px;
    border-left-style: dashed;
}

#elevento .elevento-img img{
    object-fit:cover;
    width:100%;
    height:100%;
}

/* Contacto */

#registrate .registrate-form {
    width: 40%;
    padding: 40px;
    float: right;
}

#registrate .registrate-title {
    float: left;
    width: 50%;
    padding-top: 100px;
    text-align: left;
}

#registrate {
    /* background: cadetblue; */
}

form .form-control {
    width: 100%;
    padding: 0.375rem 0.7rem;
    font-size: 1rem;
    line-height: 1;
    border: darkblue;
}

form .form-group {
    margin-bottom: 1rem;
}

/* Boton Form */
.btn {
    display: inline-block;
    font-size: 15px;
    padding: 14px;
    cursor: crosshair;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 10px;
    margin-top: 10px;
}

.btn-light {
    background: #284B63;
    border: 1px solid #284B63;
    color: #fff;
    width: 100%;
}

.btn-light:hover {
    background: #fff;
    border: 2px solid #284B63;
    color: #284B63;
}

/* CLIMA */
#clima h2{
    text-align: center;
}


/* FOOTER */

.footer{
    padding: 30px;
    color: #fff;
    text-align: center;
    background: #284B63;
}

.footer img{
    padding-left: 15px;
}
